<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">Projeto de Bloco - Séries</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" th:href="@{/create}">Adicionar seriado</a>
                    <a class="nav-link">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="LogOut"/>
                        </form>
                    </a>
                </div>
            </div>
        </div>
    </nav>
<div style="text-align: center; width: 70%; margin-left: 300px;">
    <form th:action="@{/update/{id}(id=${serie.id})}" method="post" th:object="${serie}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nome da Série:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nome" name="nome"  th:value="*{name}">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descrição da Série:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="descricao" th:text="*{description}"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Foto do seriado:</label>
            <input th:image="*{image}" type="file" id="img" name="img" accept="image/*">
        </div>
        <input class="btn btn-primary" type="submit" value="Editar Serie">
    </form>
</div>

        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="undefined" crossorigin="anonymous"></script>
    </body>
</html>
